{:paths ["src" "resources"]

 :deps {metosin/reitit {:mvn/version "0.5.18"}
        metosin/reitit-middleware {:mvn/version "0.5.18"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        aleph/aleph {:mvn/version "0.6.0"}
        manifold/manifold {:mvn/version "0.3.0"}
        metosin/jsonista {:mvn/version "0.3.7"}}

 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {mount/mount {:mvn/version "0.1.17"}
                     org.clojure/tools.namespace {:mvn/version "1.4.1"}}}

  :hiccup {:extra-deps {hiccup/hiccup {:mvn/version "1.0.5"}}}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.78.1249"}
                      hiccup/hiccup {:mvn/version "1.0.5"}}
         :main-opts ["-m" "kaocha.runner"]}}}
